<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <title>Job Page Demo - ${content.companyIdentifier}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/index.html?companyIdentifier=${content.companyIdentifier}&language=${content.language}">Job Page Demo - ${content.companyIdentifier}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item active">
                    <span class="nav-link">
                        Language:
                        <div class="btn-group">
                            #foreach( $language in $content.languages.keySet())
                                <a href="/index.html?companyIdentifier=${content.companyIdentifier}&language=${language}" class="btn #if(${content.language}==${language}) btn-light #else btn-outline-secondary #end ">&nbsp;${content.languages.get($language)}&nbsp;</a>
                            #end
                        </div>
                    </span>
                </li>
            </ul>
            <form method="get" class="form-inline mt-2 mt-md-0" action="/index.html">
                <input type="hidden" name="companyIdentifier" value="${content.companyIdentifier}">
                <input type="hidden" name="language" value="${content.language}">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search" value="$!{content.q}">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <br>
            <br>
            <h1 class="jumbotron-heading">Job Page Demo</h1>
            <p class="lead text-muted">This page is built using SmartRecruiters API's</p>
            <p class="lead text-muted">Current Company Identifier is <b>${content.companyIdentifier}</b></p>
            <!-- countries -->
            #if($content.countries.size() > 1)
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-12 text-center">
                        <h5>Filter by Country</h5>
                        #foreach( $country in $content.countries.keySet())
                            <a class="btn btn-lg #if($content.country == $country) btn-dark #else btn-secondary #end" href="/index.html?companyIdentifier=${content.companyIdentifier}&language=${content.language}&country=$country" style="margin-bottom: 10px">
                                $country.toUpperCase()&nbsp;&nbsp;<span class="badge badge-light">$content.countries.get($country)</span>
                            </a>
                        #end
                    </div>
                </div>
            #end

            <!-- regions -->
            #if($content.country == 'us' && $content.regions.size() > 1 && (${content.country} || $content.countries.size() < 2))
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-12 text-center">
                        <h5>State / region</h5>
                        #foreach( $region in $content.regions.keySet())
                            <a class="btn #if($content.region == $region) btn-dark #else btn-secondary #end" href="/index.html?companyIdentifier=${content.companyIdentifier}&language=${content.language}&country=$!content.country&region=$region" style="margin-bottom: 10px">
                                $region&nbsp;&nbsp;<span class="badge badge-light">$content.regions.get($region)</span>
                            </a>
                        #end
                    </div>
                </div>
            #end

            <!-- cities -->
            #if($content.cities.size() > 1
                && (${content.country} || $content.countries.size() < 2)
                && ((${content.region} || $content.region.size() < 2) || $content.country!='us'))
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-12 text-center">
                        <h5>City</h5>
                        #foreach( $city in $content.cities.keySet())
                            <a class="btn  #if($content.city == $city) btn-dark #else btn-secondary #end" href="/index.html?companyIdentifier=${content.companyIdentifier}&language=${content.language}&country=$!content.country&region=$!content.region&city=$city" style="margin-bottom: 10px">
                                $city&nbsp;&nbsp;<span class="badge badge-light">$content.cities.get($city)</span>
                            </a>
                        #end
                    </div>
                </div>
            #end
        </div>
    </section>

    <div class="container">

        #if ($content.postings.size() == 0)
        <div class="alert alert-success" role="alert">
            Sorry, no jobs found with this combination of parameters
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        #else
            <div class="row">
                #foreach( $posting in $content.postings )
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <h5 class="card-title">$posting.name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">$!{posting.department.label}</h6>
                                <p class="card-text">$posting.location.city</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="/jobDetail.html?companyIdentifier=${content.companyIdentifier}&language=${content.language}&refNumber=${posting.refNumber}" class="btn btn-sm btn-outline-secondary">View details</a>
                                    <small class="text-muted text-right">
                                        ref: $posting.refNumber
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                #end
            </div>
        #end
        </div>
    </div>

</main>


<footer class="text-muted">
    <div class="container">
        <div class="float-right"><a href="#">Back to top</a></div>
        <p>
            <strong>Job Page Demo</strong>
            <br>More info visit <a href="https://www.smartrecruiters.com">SmartRecruiters</a>
            <br>Source code on <a href="https://github.com/e-petrelli/jobpagedemo">GitHub</a>
        </p>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>